* {
  box-sizing: border-box;
}

body {
  background-color:darkgoldenrod;
  width: 960px;
}

header {
  font-family: 'Great Vibes', cursive;
  margin: 25px 0 0 25px;
  text-align: center;
  align-items: center;
}

header p:first-child{
  font-size: 50px;
}

header p:last-child{
  font-size: 30px;
}

main h1 {
  margin: 25px;
  height: 25px;
  text-align: center;
  font-weight: bold;
}

main section {
  text-align: center;
}

main div {
  margin: 25px 0;
  height: 35px;
  text-align: center;
}

main img {
  width: 250px;
  height: 250px;
}

main ul {
  width: 400px;
  margin: 0px 100px;
  text-align: left;
}

main div button {
  border-radius: 10px;
}

#clearData {
  cursor: pointer;
  background-color: pink;
  pointer-events: auto;
  z-index: 10;
}

#viewResults{
  background-color: burlywood;
  z-index: 10;
  appearance: none;
}

.chartResults {
  align-content: center;
}